:root {
    --red-color: rgb(255, 22, 22);  
    --red-light-color: rgb(255, 67, 67);  
    --red-ultralight-color: rgb(255, 98, 98);  
    --grey-color: rgb(206, 206, 206);
  }
 
*{
    font-family: 'Work Sans', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    transition: all .5s ease;
}

.space{
    margin-top: 50px;
}

.space-about{
    margin-top: 100px;
}

.space-small-title{
    margin-top: 30px;
}

.title{ 
    margin-bottom: 70px;
    color: var(--red-color);
    position: relative; 
    font-weight: bold;
    font-size: 50px;
}   

.title:after ,.title:before{
    position: absolute;
    content: '';
    height: 2px; 
    bottom: -2px;  
    margin: 0 auto;
    left: 80px;
    right: 0;
    width: 15%;
    background: var(--red-ultralight-color);
}

.title:before {  
    bottom: -10px;    
    right: 120px; 
    left: 0; 
}

.subtitle{
    margin-bottom: 70px;
    font-size: 20px;
}

.text-title{ 
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}

.text-color{
    color: var(--red-color);
}

.text-typing{ 
}
.top-navbar{
    padding: 0 !important;
}

.s-top{  
    background-image: url('../img/img-top copy.jpg'); 
    background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex; 
	align-items: center;
}

section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.nav-item{
    padding-left: 20px;
}

.nav-link{
    color: var(--red-ultralight-color) !important;
    transition: color .2s ease;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.nav-link:hover{
    color: var(--red-light-color) !important;
    transition: color .2s ease;
    border-bottom: 2px solid var(--red-light-color);
}

.nav-link.active{
    color: var(--red-color) !important; 
    border-bottom: 2px solid var(--red-color);
}

/* navbar mobile */    

.navbar-toggler.x{
    border: none;
}
 
.navbar-toggler.x .icon-bar{
    width: 35px;
    display: flex;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-color: var(--red-color);
}

.navbar-toggler.x:focus{
    outline: none;
}


/* new animation */

.block {
    display: none !important;
    height: 60px;
    width: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: all 1s ease;  
    background: transparent;
    -webkit-appearance: none !important;

  }
 
  
  .cta {
    height: 50px;
    width: 50px;
    cursor: pointer; }
  
  .toggle-btn {
    height: 2px;
    width: 35px;
    background-color: var(--red-color);
    position: relative;
    top: 50%;
    left: 0;
    margin: auto;
    transition: all 0.3s ease-in-out; }
    .toggle-btn:before {
      content: "";
      height: 2px;
      width: 35px;
      box-shadow: 0 -10px 0 0 var(--red-color);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out; }
    .toggle-btn:after {
      content: "";
      height: 2px;
      width: 35px;
      box-shadow: 0 10px 0 0 var(--red-color);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out; }

      .active .type8 {
        background-color: var(--red-color); }
        .active .type8:before {
          left: -10px;
          box-shadow: 0 -10px 0 0 var(--red-color);
          transform: translateY(0) rotate(90deg); }
        .active .type8:after {
          box-shadow: 0 0 0 0 var(--red-color); }
/* ANIMATED X */
/* button.navbar-toggler.x > span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 20% 10%;
	-ms-transform-origin: 20% 10%;
    transform-origin: 20% 10%;
}

button.navbar-toggler.x > span:nth-child(2) {
    opacity: 0; 
	filter: alpha(opacity=0);
}

button.navbar-toggler.x > span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}
 
button.navbar-toggler.x.collapsed > span:nth-child(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

button.navbar-toggler.x.collapsed > span:nth-child(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

button.navbar-toggler.x.collapsed > span:nth-child(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
} */
/* END ANIMATED X */
/* navbar mobile end */

/* skills section  */
.Count:after{
    content:"%"
  }

  .skills{
      margin: auto;
  }
  
  .skillbar {
      position:relative;
      display:block;
      margin-bottom:15px;
      width:100%;
      background:#eee;
      height:27px;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      -webkit-transition:0.4s linear;
      -moz-transition:0.4s linear;
      -ms-transition:0.4s linear;
      -o-transition:0.4s linear;
      transition:0.4s linear;
      -webkit-transition-property:width, background-color;
      -moz-transition-property:width, background-color;
      -ms-transition-property:width, background-color;
      -o-transition-property:width, background-color;
      transition-property:width, background-color;
  }
  
  .skillbar-title {
      position:absolute;
      top:0;
      left:0;
    width:110px;
      font-weight:bold;
      font-size:13px;
      color:#ffffff;
      background:var(--red-color) !important;
      -webkit-border-top-left-radius:3px;
      -webkit-border-bottom-left-radius:4px;
      -moz-border-radius-topleft:3px;
      -moz-border-radius-bottomleft:3px;
      border-top-left-radius:3px;
      border-bottom-left-radius:3px;
  }
  
  .skillbar-title span {
      display:block;
      background:rgba(0, 0, 0, 0.1);
      padding:0 20px;
      height:27px;
      line-height:28px;
      -webkit-border-top-left-radius:3px;
      -webkit-border-bottom-left-radius:3px;
      -moz-border-radius-topleft:3px;
      -moz-border-radius-bottomleft:3px;
      border-top-left-radius:3px;
      border-bottom-left-radius:3px;
  }
  
  .skillbar-bar {
      height:27px;
      width:0px;
      background: var(--red-ultralight-color) !important;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
  }
  
  .skill-bar-percent {
      position:absolute;
      right:10px;
      top:0;
      font-size:11px;
      height:35px;
      line-height:28px;
      color:#ffffff;
      color:rgba(0, 0, 0, 0.4);
  }
/* skills section end */

.photo{
    width: 270px;
    height: 350px;
}

/* portfolio section */
.s-project{
    background-color: whitesmoke;
}

body > section.s-project > div > div.row.text-center > div p{
    margin-top: 20px;
}

 .project-media {
    background: linear-gradient(to bottom, rgba(53, 53, 53, 0.45) 100%, transparent), url('../img/thumbnail.jpg');
    background-size: 200%;
    background-position: center, center;
    float: left;
    margin: 0; 
    transition: background-size .3s ease-in-out;   
    background-repeat: no-repeat;
    background-color: gray
 }

 .project-content{
     padding: 50px !important;
     background-color: #fff;
 }

 .project-content h4{
    font-weight: bold;
    font-size: 1.2em;
 }

 .project-content .project-content-text-bottom{ 
    font-size: 0.8em;
 }

 body > section.s-project > div > div:nth-child(3) > div{
     margin-bottom: 30px;
 }

 body > section.s-project > div > div.row{
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .project-media-img{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: auto;
 }

 .project-content-text-top{
     font-size: 0.5em;
     visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear; 
 }

 .project-full:hover{
    cursor: pointer;
 }

 .project-full:hover .project-media{  
    background-size: 300%;
    background-position: relative; 
    transition: background-size .3s ease-in-out;   
 }

 .project-full:hover  .project{   
    -webkit-box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
    transition: all .3s ease-in-out;
 }

 .project{
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
 } 
 .read-more{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    color: var(--red-light-color) !important; 
    border: none;
    background: none;
 }

 .read-more .fa-angle-right::before{
    position: initial !important;
    font-size: 15px;
 }

 .project-full:hover .read-more{
    visibility: visible;
    opacity: 1;
} 

.s-portfolio{
    background-color: whitesmoke;
}
 
/* section about */

.about-img{
    text-align: center;
    margin: auto;
}

.about-subtitle{
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

/* section about end */

/* modal  */

.modal-img{
    width: 600px;
    height: 400px;
}

.modal-content{
    border-radius: 0 !important;
}

.modal-header{
    padding: 0 !important;
}

.modal-content hr{ 
    background-color:rgb(255, 215, 215);
}

.modal-dialog { 
    margin: auto !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    max-width: 600px !important;
}

.modal-header .fas.fa-angle-right, .modal-header .fas.fa-angle-left{
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    bottom: 0;
    background-color: grey;
}

.modal-header .fas.fa-angle-left{ 
    left: 0;
    right: inherit; 
    z-index: 2; 
}

.modal-header .fas.fa-angle-left::before, .modal-header .fas.fa-angle-right::before{ 
    position: absolute;
    width: 10px;
    top: 30%;
    left: 50%;
    margin-left: -5px;
    color: #fff;
} 

.modal-body-title{
    font-weight: bold;
}

.modal-body-text{

}

.modal-body-subtitle{ 
    color: rgb(173, 173, 173);
}

.slick-dots li.slick-active button:before {
    font-size: 10px;
    transition: all .2s ease;
    color: var(--red-color) !important;
}

.slick-dots li button:before {
    color: var(--red-ultralight-color) !important;  
}

/* modal end */

/* contact from */

.contact-form{
    max-width: 500px;
    margin: auto;
}

.form-control{
    border-radius: 0 !important;
    line-height: 2em !important;
    padding-left: 3em !important;  
} 

.form-control.textarea{
    padding-left: 1em !important;
}

.form-group i{ 
    text-align: center;
    color: #fff;
}

.form-check, .div-btn{
    text-align: right;
}

.input-img{ 
    background-size: 100% auto;
    position: absolute;
    width: 2.5em;
    background-color: var(--grey-color);
    padding: 14px;
    margin-top: 1px;
    margin-left: 1px;
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder,
.uneditable-input::placeholder {    

}

input[type="text"]:focus::placeholder,input[type="email"]:focus::placeholder{
    color:var(--red-ultralight-color) !important;
    top: 0 !important; 
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: var(--red-color,0.8) !important; 
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--red-color,0.6) !important;
  outline: 0 none;
  z-index: 99999 !important;
}

.btn-submit{
    background-color: var(--red-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
}

.btn-submit:focus{
    outline: none;
}

.material-control-input{
    display: none;
}

.material-control-input:checked + .material-control-indicator{
    border-color: var(--red-light-color);
    transform: rotateZ(45deg) translate(1px, -5px);
    width: 10px;
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
}

.material-control-indicator{
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    transition: .3s;
}

.custom-control{
    display: inline-block !important;
}


/* contact from end */

/* footer */

footer{
    background-color:rgba(214, 214, 214, 0.3);
}

.social-links{
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
}

footer .icon{
    text-align: center;
}

footer i{
    background-color: #fff;
    padding: 20px;
    color: var(--red-color);
    width: 55px !important;
}

.copy{
    color: var(--grey-color);
    padding-bottom: 50px;
    margin-top: 30px;
}
.p-logo-top{
    margin: auto;
}

.top{
    position: fixed;
    bottom: 25px;
    right: -100px;
    z-index: 12; 
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: var(--red-light-color);
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    transition: all .3s ease;
    opacity: .7;
    color:#fff;  

}
.top:hover {
    background-color:var(--red-color);;
    opacity: 1;
}

.top:hover i{
    color:#fff;  
}

.top.active{
    right: 25px;
}
/* footer end */