*{
    font-family: 'Work Sans', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
  }

.s-top{  
    background-image: url('../img/img-top.jpg'); 
    background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex; 
	align-items: center;
}

section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.nav-item{
    padding-left: 20px;
}

.nav-link{
    color: rgb(255, 98, 98) !important;
    transition: color .2s ease;
}

.nav-link:hover{
    color: rgb(255, 67, 67) !important;
    transition: color .2s ease;
    border-bottom: 2px solid rgb(255, 67, 67);
}

.nav-link.active{
    color: rgb(255, 22, 22) !important; 
    border-bottom: 2px solid rgb(255, 22, 22);
}

/* skills section  */
.Count:after{
    content:"%"
  }
  
  .skillbar {
      position:relative;
      display:block;
      margin-bottom:15px;
      width:100%;
      background:#eee;
      height:27px;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      -webkit-transition:0.4s linear;
      -moz-transition:0.4s linear;
      -ms-transition:0.4s linear;
      -o-transition:0.4s linear;
      transition:0.4s linear;
      -webkit-transition-property:width, background-color;
      -moz-transition-property:width, background-color;
      -ms-transition-property:width, background-color;
      -o-transition-property:width, background-color;
      transition-property:width, background-color;
  }
  
  .skillbar-title {
      position:absolute;
      top:0;
      left:0;
    width:110px;
      font-weight:bold;
      font-size:13px;
      color:#ffffff;
      background:rgb(255, 22, 22) !important;
      -webkit-border-top-left-radius:3px;
      -webkit-border-bottom-left-radius:4px;
      -moz-border-radius-topleft:3px;
      -moz-border-radius-bottomleft:3px;
      border-top-left-radius:3px;
      border-bottom-left-radius:3px;
  }
  
  .skillbar-title span {
      display:block;
      background:rgba(0, 0, 0, 0.1);
      padding:0 20px;
      height:27px;
      line-height:28px;
      -webkit-border-top-left-radius:3px;
      -webkit-border-bottom-left-radius:3px;
      -moz-border-radius-topleft:3px;
      -moz-border-radius-bottomleft:3px;
      border-top-left-radius:3px;
      border-bottom-left-radius:3px;
  }
  
  .skillbar-bar {
      height:27px;
      width:0px;
      background: rgb(255, 98, 98) !important;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
  }
  
  .skill-bar-percent {
      position:absolute;
      right:10px;
      top:0;
      font-size:11px;
      height:35px;
      line-height:28px;
      color:#ffffff;
      color:rgba(0, 0, 0, 0.4);
  }
/* skills section end */

.photo{
    width: 200px;
    height: 250px;
}

/* portfolio section */
.s-project{
    background-color: whitesmoke;
}

body > section.s-project > div > div.row.text-center > div p{
    margin-top: 20px;
}

 .project-media {
    background: linear-gradient(to bottom, rgba(53, 53, 53, 0.45) 100%, transparent), url('img/content.jpg');
    background-size: cover, cover;
    background-position: center, center;
    float: left;
  margin: 0; 
  transition: all .3s ease-in-out; 
  background-size: 100%;
  background-position: center, center;
  background-repeat: no-repeat;
  background-color: gray
 }

 .project-content{
     padding: 50px !important;
     background-color: #fff;
 }

 .project-content h4{
    font-weight: bold;
    font-size: 1.2em;
 }

 .project-content .project-content-text-bottom{ 
    font-size: 0.8em;
 }

 body > section.s-project > div > div:nth-child(3) > div{
     margin-bottom: 30px;
 }

 body > section.s-project > div > div.row{
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .project-media-img{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: auto;
 }

 .project-content-text-top{
     font-size: 0.5em;
     visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear; 
 }

 .project-full:hover{
    cursor: pointer;
 }

 .project-full:hover .project-media{  
    background-size: 120%;
    background-position: relative; 
 }

 .project-full:hover  .project{   
    -webkit-box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
    transition: all .3s ease-in-out;
 }

 .project{
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
 }
 
 .read-more{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    color: rgb(255, 67, 67) !important; 
 }

 .read-more .fa-angle-right::before{
    position: initial !important;
    font-size: 15px;
 }

 .project-full:hover .read-more{
    visibility: visible;
    opacity: 1;
} 