@media (max-width: 1300px) {  
    
}
@media (max-width: 992px) {  
    #about > div > div:nth-child(2) > div.col-lg-5{
        text-align: center;
        margin-bottom: 40px;
    }
    .project-media{
        height: 100px;
    }

    .project{
        -webkit-box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
        box-shadow: 4px 7px 36px -6px rgba(0,0,0,0.75);
    }

    .read-more{
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s linear;
        color: var(--red-light-color) !important; 
     }

     .form-check, .div-btn{
         text-align: center !important;
     }
}

@media (max-width: 768px) { 
    .block{
        display: inline-block !important;
    }

    .about-subtitle{
        width: inherit;
    }
    
    .skills{
        margin-top: 40px;
    }

    .navbar-brand{
        margin-left: 10px;
    }
    .navbar-collapse{
        text-align: center;
        background-color: rgba(245, 245, 245, 0.9) !important; 
        /* padding: 300px 100px; */
    }
    .navbar-collapse {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
    }
    .navbar-collapse.collapse.show {
        height: 100vh;
    }
    .navbar-nav {
        height: 100vh;
    }

    .navbar-nav .nav-item{ 
    }

    .navbar-nav .nav-item .nav-link.active{
        border: none;
    }

    .navbar-nav .nav-item .nav-link{
        font-weight: bold;
        font-size: 25px;
    }
   
}

@media (max-width: 576px) {  
    .s-top h1{
        font-size: 25px;
    }

   
}




